body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido al inicio del eje vertical */
  height: 90vh;
  background: #222222;
  color: white;
  padding-top: 0; /* Añade un margen superior */
}

form {
  width: 20rem;
  display: grid;
  row-gap: 0.5rem;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiFormLabel-root {
  color: white;
}

.MuiFormLabel-root.Mui-focused {
  color: white;
}

.MuiInputBase-input {
  color: white;
}